.top-header {
    background-color: #292562;
    color: white;
    font-size: 0.85rem;
    width: 100%;
}

.top-header a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.top-header a:hover {
    color: #ffd700;
    /* vàng nhạt khi hover */
    text-decoration: underline;
}